@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  } /* Firefox */
  .scrollbar-hide::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  } /* Chrome/Safari/Edge */
}
